extends ../layout

block body
  h1 Últimos libros
  p.text-right
    a(href="/book/new" class="btn btn-info") Agregar libro
    .row
      each book in books
        .col-xs-12.col-sm-6.col-md-4.card
          h3= book.title
          p= book.description
